{% extends "base.html" %}
{% block title %}Eg-ToDo{% endblock title %}
{% block content %}

{% if user.is_authenticated %}

{% if item_count > 0 %}
{{ user.username }}, you have {{ item_count }} items to complete still
{% endif %}

{% for todo in todo_list %}
<div class="card">
    <div class="card-header">
        <span class="font-weight-bold">
            {% if not todo.completed %}
            <form action="/todos/{{ todo.pk }}/complete/" style="display: inline;" method="post">{% csrf_token %}
                <input type="submit" value="Done" class="btn btn-info ml-2 px-4">
            </form>
            {% endif %}
            <b>
                <a href="{% url 'todo_detail' todo.pk%}" class=px-2 style="text-decoration: none;">{{ todo }}</a>
            </b>
        </span>
        <span class="text-muted float-end">
            {{ todo.start_date|date:"M jS, G:i" }}
            {% if todo.finish_date %}
            &nbsp --->
            {{ todo.finish_date|date:"M jS, G:i" }}
            {% endif %}
        </span>
    </div>
</div>
{% endfor %}

{% else %}
<p>You need to login or sign up first to view todos</p>

{% endif %}

{% endblock content %}