{% extends "base.html" %}

{% block content %}

<div class="todo-entry">
    <div class="card">
        <div class="card-header">
            <h2>{{ object.title }}</h2>
        </div>
        <div class="card-body">
            <p>{{ object.description }}</p>
        </div>
        <div class="card-footer">
            <p><b>Added: </b> {{ object.start_date }}</p>
            {% if object.finish_date != None %}
            <p><b>Finished: </b> {{ object.finish_date }}</p>
            {% endif %}
        </div>
    </div>
</div>
<p>
    <a href="{% url 'todo_edit' todo.pk %}" class="btn btn-info ml-2">Edit</a>
    <a href="{% url 'todo_delete' todo.pk %}" class="btn btn-danger ml-2">Delete</a>
</p>

{% endblock content %}