{% extends "base.html" %}
{% block title %}Eg-ToDo{% endblock title %}
{% block content %}

{% if user.is_authenticated %}
Lets get shit done {{ user.username }}
{% for todo in todo_list %}
<div class="card">
    <div class="card-header">
        <span class="font-weight-bold">
            <a href="{% url 'todo_detail' todo.pk%}">{{ todo.title }}</a>
        </span> &middot;
        <span class="text-muted">
            {{ todo.start_date }}
        </span>
    </div>
</div>
{% endfor %}

{% else %}
<p>You need to login or sign up first to view todos</p>

{% endif %}

{% endblock content %}